NODE_ENV=development
PORT=5000
# Application configuration
LIMIT_PARTICIPANTS=6

# Database configuration
POSTGRES_USER=root
POSTGRES_PASSWORD="42type_password"
POSTGRES_DB="42type_db"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT configuration
JWT_SECRET="hunterkyemura"
JWT_EXPIRES_IN=3600

# Prisma configuration
DATABASE_URL="postgresql://root:42type_password@localhost:5432/42type_db?schema=public"